<div class="billing p-5">
    <h1 class="inverted">Платежи</h1>

    <p class="inverted">
        Эта страница динамически подгружается из другого домена и имеет свои внутренние роуты. <br>
        Также работает как самостоятельное приложение.
    </p>

    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-lg me-md-2" type="button" routerLink="info">Информация</button>
        <button class="btn btn-secondary btn-lg" type="button" routerLink="review">История операций</button>
    </div>
</div>
